.swiper-button-next {
  position: absolute;
  z-index: 20;
  right: 8px;
  transform: translateY(-50%);
  top: 50%;
}

.swiper-button-prev {
  position: absolute;
  z-index: 20;
  left: 8px;
  transform: translateY(-50%);
  top: 50%;
}

.swiper-button-next::before {
  content: url("../../assets/icons/next-arrow.svg");
  cursor: pointer;
}
  
.swiper-button-prev::before {
  content: url("../../assets/icons/prev-arrow.svg");
  cursor: pointer;
}
