.input-field {
  width: 100%;
  padding: 1rem;
  font-size: 14px;
  line-height: 20px;
  border-bottom-width: 1px;
  border-bottom-color: #9ca3af;
  background-color: transparent;
}

.input-field:focus {
  outline: none;
}
